<!DOCTYPE html>

<html lang="{% block language %}en{% endblock %}">
<head>
    {% block head %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        {% block metaname %}{% endblock %}

        <title>{% block title %}Lee's New Blog{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

            {% block favicon %}{% endblock %}

            {% block metaprop %} {% endblock %}

    {% endblock %}

</head>
<body>
{% block content %} {% endblock %}
{% block footer %} {% endblock %}
{% block scripts %}

{% endblock %}

</body>
</html>